/* start GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --deep-blue: #0E1027;
  --blue: #6279BC;
  --light-blue: #8194CD;
  --purple: #7A287C;
  --pink: #CB2B88;
  --salmon: #CE546B;
  --yellow: #F5D256;
}

html,
body {
  height: 100vh;
  color: var(--yellow);
}

h3 {
  font-size: 1.1em;
}

p {
  line-height: 1.3;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#wrapper {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  place-items: center;
}
/* end GLOBAL */

/* start NAVIGATION */
nav {
  position: absolute;
  bottom: 10px;
  width: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

nav li {
  list-style-type: none;
  float: left;
  width: 16.666%;
  text-align: center;
}

nav a {
  border: 2px solid var(--yellow);
  padding: 8.4% 4.4%;
  text-decoration: none;
  color: var(--yellow);
  display: block;
}

nav #btn-1 {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

nav #btn-6 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

nav a:hover {
  color: var(--pink);
  border-color: var(--pink);
}

/* LEFT and RIGHT nav buttons */
.navBtn:hover .nav-svg {
  stroke: var(--pink);
}
/* end NAVIGATION */

/* start SLIDES  */
.slides {
  position: absolute;
  display: none;
  width: 80%;
  height: 85%;
  overflow-y: auto;
  /* Scroll colors only compatable with firefox */
  scrollbar-color: var(--purple) var(--yellow);
  top: 5%;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: rgba(14, 16, 39, 0.7);
  border-radius: 1em;
  border: 1px solid var(--yellow);
  padding: 10px 10px;
}

h1 {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

a {
  color: var(--pink);
}

/* start HOME */
#home {
  padding: 0;
  margin: 0;
}

#home main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

#home-media {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  width: 50%;
  /* border: 1px solid pink; */
}

#home-media-greet,
#home-media-iam {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  font-size: 3em;
  /* border: 1px solid greenyellow; */
  height: 15%;
}

#home-media-img-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  max-height: 70%;
  max-width: 100%;
  padding: 0 10px 0 10px;
  /* border: 1px solid red; */
}

#home img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

#home-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  width: 50%;
}

#home-content-desc p {
  /* border: 1px solid green; */
  font-size: 1.5em;
  padding-right: 10px;
}

#am-a-text-word {
  color: var(--pink);
}

.home-content-content-keywords {
  color: var(--pink);
}
/* end HOME */

/* start INTERN_1 */
#intern1-h1-figure-logo {
  transform: translatey(2px);
  max-height: 24px;
}

#intern1-about {
  margin-bottom: 20px;
  font-size: 1.1em;
}

#intern1-content {
  padding: 0px 0px 0px 10px;
  font-size: 1.2em;
}

.intern1-content-keywords {
  font-weight: bold;
}

#intern1-content p,
#intern1-content ul {
  margin-bottom: 20px;
  margin: 0px 0px 0px 20px;
}

#intern1-content li {
  margin-top: 10px;
}

#intern1-media {
  float: right;
  width: 50%;
  min-width: 445px;
  text-align: center;
  margin-left: 5px;
}

#intern1-media figure {
  width: 100%;
  height: 100%;
}

#intern1-media iframe {
  aspect-ratio: 16 / 9;
  height: 100%;
  width: 100%;
}

#intern1-media figcaption {
  font-size: .8em;
  margin-bottom: 2px;
}
/* end INTERN_1 */

/* start INTERN_2 */
#intern2-h1-figure-logo {
  transform: translatey(6px);
  max-height: 30px;
}

#intern2-about {
  margin-bottom: 20px;
  font-size: 1.1em;
}

#intern2-content {
  padding: 0px 0px 0px 10px;
  font-size: 1.2em;
}

#intern2-content-description p {
  margin: 0px 0px 10px 20px;
}

.intern2-content-description-keywords {
  font-weight: bold;
}

#intern2 figure {
  width: 50%;
  min-width: 445px;
  text-align: center;
}

#intern2 iframe {
  aspect-ratio: 16 / 9;
  height: 100%;
  width: 100%;
  text-align: center;
}

#intern2-content figcaption {
  font-size: .8em;
  margin-bottom: 2px;
}

#intern2-content-description figure {
  float: right;
  margin: 0px 0px 20px 10px;
}

#intern2-content-contribution li {
  margin-left: 20px;
  margin-top: 10px;
}

#intern2-content-contribution li:first-of-type {
  margin-top: 0px;
}
/* end INTERN_2 */

/* start ARTICLE */
#article-about {
  font-size: 1.1em;
}

#article-content {
  padding: 0px 0px 0px 10px;
  font-size: 1.2em;
}

#article-content h4 {
  margin-top: 20px;
}

#article-content p {
  margin: 0px 0px 20px 20px;
}

#article-content p:last-of-type {
  margin: 0px 0px 0px 20px;
}

#article-content figure {
  float: left;
  width: 250px;
  margin: 0px 10px -10px 20px;
}

#article-content img {
  max-width: 100%;
  max-height: 100%;
}

#article-content figcaption {
  font-size: .7em;
  margin-bottom: 2px;
  text-align: center;
}
/* end ARTICLE */

/* start WEBSITE */
#website {
  padding: 10px 0px 1% 0px;
  text-align: center;
}

#website-about {
  padding: 1%;
  font-size: 1.2em;
  margin-bottom: 10px;
}

#website-built {
  position: block;
  width: 100%;
}

.website-built-underline:after {
  content: '';
  display: inline-block;
  width: 70%;
  height: 2px;
  background-color: var(--yellow);
  margin-bottom: 10px;
}

#website-built-tools {
  display: grid;
  padding: 0 1%;
  justify-content: center;
  grid-template-columns: repeat(3, 32.7%);
  grid-auto-rows: 120px;
  grid-row-gap: 10px;
  grid-column-gap: 1%;
}

#website-built-tools a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-style: italic;
  border: 2px solid transparent;
  border-radius: 1em;
  background: rgba(255, 16, 240, 0.4);
}

#website-built-tools a:hover {
  border-radius: 1em;
  border: 2px solid var(--yellow);
}

#website-built-tools img {
  height: 90px;
  aspect-ratio: 3/2;
  object-fit: contain;
}
/* end WEBSITE */

/* start CONTACT */
#contact {
  padding: 0px 0px;
  text-align: center;
}

#contact-about {
  position: block;
  width: 100%;
  padding: 10% 0 5% 0;
}

#contact-about p {
  font-size: 1.4em;
  margin: 30px;
}

#contact-about-word {
  font-weight: bold;
  color: var(--pink);
}

#contact-social {
  position: block;
  width: 100%;
}

#contact-social h3 {
  font-size: 1.5em;
}

.contact-social-underline:after {
  content: '';
  display: inline-block;
  width: 70%;
  height: 1px;
  background-color: var(--yellow);
  margin-bottom: 10px;
}

#contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
}

#contact-links a {
  text-decoration: none;
  color: var(--yellow);
}

#contact-links a:hover .media-icon {
  fill: var(--pink);
}

#contact-links a:hover {
  color: var(--pink);
}
/* end CONTACT */
/* end SLIDES  */

/* DYNAMIC STYLES */
@media (max-width: 300px) {
  /* WEBSITE */
  #website-built-tools img {
    height: 60px;
  }
}

@media (max-width: 410px) {
  /* INTERN_1 */
  #intern1-content {
    text-align: center;
  }
  #intern1-content h4 {
    margin-bottom: 10px;
  }
  #intern1-content ul {
    margin-left: 0px;
  }
  /* INTERN_2 */
  #intern2-content {
    text-align: center;
  }
  #intern2-content h4 {
    margin-bottom: 10px;
  }
  #intern2-content-contribution li {
    margin-left: 0px;
  }
  /* ARTICLE */
  #article-content {
    text-align: center;
  }
  #article-content h4 {
    margin-bottom: 10px;
  }
  #article-content figure {
    float: none;
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 423px) {
  /* CONTACT*/
  #contact-about {
    padding: 5% 0 0 0;
  }
}

@media (max-width: 501px) {
  /* WEBSITE */
  #website-built-tools {
    grid-template-columns: repeat(2, 49.2%);
    grid-row-gap: 3px;
  }
}

@media (max-width: 670px) {
  /* INTERN_1 */
  #intern1-content {
    padding: 0px;
  }
  #intern1-content p {
    margin: 0px 0px 20px 0px;
  }
  #intern1-media {
    width: 100%;
    min-width: auto;
    margin-bottom: 20px;
  }
  /* INTERN_2 */
  #intern2-content {
    padding: 0px;
  }
  #intern2-content-description p {
    margin: 0px 0px 20px 0px;
  }
  #intern2-content-description figure {
    width: 100%;
    min-width: auto;
  }
  /* ARTICLE */
  #article-content {
    padding: 0px;
  }
  #article-content p {
    margin: 0px 0px 20px 0px;
  }
  #article-content p:last-of-type {
    margin: 0px 0px 0px 0px;
  }
  #article-content figure {
    margin-left: 0px;
  }
}

@media (max-height: 625px) {
  /* CONTACT*/
  #contact-about {
    padding: 5% 0 0 0;
  }
}

@media (max-width: 720px) {
  /* NAVIGATION */
  #btn-2::after {
    content: "Job 1";
  }
  #btn-3::after {
    content: "Job 2";
  }
  #btn-4::after {
    content: "Article";
  }
  #btn-5::after {
    content: "Site";
  }
  #btn-6::after {
    content: "Info";
  }
}

@media (min-width: 721px) {
  /* NAVIGATION */
  #btn-2::after {
    content: "Experience 1";
  }
  #btn-3::after {
    content: "Experience 2";
  }
  #btn-4::after {
    content: "Article";
  }
  #btn-5::after {
    content: "This Site";
  }
  #btn-6::after {
    content: "Contact";
  }
}

@media (max-width: 800px) {
  /* NAVIGATION */
  .navBtn {
    display: none;
  }
  .slides {
    width: 95%;
  }
  nav {
    width: 95%;
  }
}

@media (min-width: 801px) {
  /* NAVIGATION */
  .navBtn {
    display: block;
  }
  .slides {
    width: 80%;
  }
  nav {
    width: 80%;
  }
}

@media (min-height: 825px) and (min-width: 760px) {
  /* WEBSITE */
  #website-about {
    position: absolute;
    top: 10%;
    height: 30%;
  }
  #website-about p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  #website-built {
    position: absolute;
    bottom: 1%;
  }
}

@media (min-width: 1401px) {
  /* NAVIGATION */
  #btn-2::after {
    content: "Professional Experience 1";
  }
  #btn-3::after {
    content: "Professional Experience 2";
  }
  #btn-4::after {
    content: "I Wrote An Article";
  }
  #btn-5::after {
    content: "About This Website";
  }
  #btn-6::after {
    content: "How To Contact Me";
  }
}