/* start GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 
  COLOR PALETTE:
  #0E1027 - Deep blue/blackish (14, 16, 39)
  #7A287C - Purple
  #CB2B88 - Pink rbg(203, 43, 136)
  #CE546B - Orange/Salmon
  #F5D256 - Yellow
  #6279BC - Blue
  #8194CD - light Blue rgb(129, 148, 205) 
  */
}

html,
body {
  height: 100vh;
  color: #F5D256;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
/* end GLOBAL */

/* start NAVIGATION */
.navBtn img {
  background: white;
  border-radius: 50%;
  width: 50px;
}

.navBtn img:hover {
  background: grey;
}

#btn-R {
  margin-right: 2%;
}

#btn-L {
  margin-left: 2%;
}

.navBar {
  position: absolute;
  max-width: 300px;
  width: 75%;
  bottom: 4%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}

.navBarBtn {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  background-color: white;
}

.navBarBtn:hover {
  background-color: grey;
}
/* end NAVIGATION */

/* start SLIDES  */
#wrapper {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  place-items: center;
}

.slides {
  position: absolute;
  display: none;
  width: 75%;
  height: 85%;
  overflow-y: auto;
  /* Scroll colors only compatable with firefox */
  scrollbar-color: #7A287C #F5D256;
  top: 5%;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: rgba(14, 16, 39, 0.7);
}

h1 {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

/* start INTERN_1 */
#inter1-body {
  display: flex;
  justify-content: space-between;
}

#inter1 main {
  width: 70%;
}

#inter1 aside {
  width: 30%;
}

#inter1 iframe {
  width: 100%;
  height: auto;
}

/* end INTERN_1 */

/* start ARTICLE */
#article main {
  display: flex;
  justify-content: space-between;
}

#article-body {
  width: 70%;
  padding: 0px 10px;
  font-size: 1.1em;
}

#article-body p {
  margin-bottom: 20px;
}

#article-side-container {
  width: 30%;
}

#article-side-body {
  text-align: center;
  align-items: center;
  color: #7A287C;
  background: rgba(245, 210, 86, 1);
  border: 1px solid #7A287C;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  padding: 0px 5px 0px 5px;
}

#article-side-body-header {
  color: #F5D256;
  text-align: center;
  background: #7A287C;
  border: 2px solid #0E1027;
  margin-top: 3px;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  padding: 10px 5px;
}

#article-side-body p {
  padding: 5px 0px;
}

#article-side-body img {
  max-width: 100%;
}

#article-side-body figure {
  padding-bottom: 15px;
}
#article-side-body figcaption {
  font-size: .8em;
}
/* end ARTICLE */

/* start WEBSITE */
#website {
  text-align: center;
}

#website-about {
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.1em;
}

#website-about p {
  margin-top: 10px;
  text-align: left;
}

.website-built-underline:after {
  content: '';
  display: inline-block;
  width: 30%;
  height: 1px;
  background-color: black;
  margin-bottom: 10px;
}

#website-built-items img {
  height: 100px;
}

#website-built-libraries img {
  height: 80px;
}

#website-built a {
  text-decoration: none;
  color: #F5D256;
  font-style: italic;
}

#website-built {
  padding: 30px 0px 10px 0px;
  border-radius: 25% 10%;
  background: rgba(255, 16, 240, 0.3);
}

#website-built-items {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

#website-built-libraries {
  display: flex;
  justify-content: space-evenly;
}
/* end WEBSITE */

/* start CONTACT */
#contact figure {
  width: 30%;
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
}

#contact figure img {
  width: 100%;
}

#contact figcaption {
  font-size: .7em;
  font-style: italic;
}

#contact aside {
  float: right;
  width: 66%;
}

#contact-about {
  margin-bottom: 50px;
  padding-right: 20px;
  font-size: 1.1em;
}

#contact-about p {
  margin-top: 10px;
}

#contact-social {
  text-align: center;
  padding-right: 20px;
}

#contact-social h3 {
  margin-bottom: 20px;
  font-size: 1.5em;
}

#contact-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#contact-links a {
  text-decoration: none;
  color: #F5D256;
}

#contact-links a:hover .media-icon {
  fill: #7A287C;
}

#contact-links a:hover {
  color: #7A287C;
}
/* end CONTACT */
/* end SLIDES  */